html {
    min-height: 100%;
}
body {

    background: url(../images/formation-background.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center center;
    margin: 0 ;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}


/*-----------------------le contenu-----------------------*/
.container{
    min-width:100%;

    margin-top: 20%;


}
.tab_container {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.logo {
    display: block;
    margin: 250px auto 0 auto;
    text-align: center;
    width: 350px;
}

.form-inline{
    text-align: center;
}

.tab_container label{
    margin-bottom: 0;
}
.tab_container  h3 {
    color: #292929;
    font-size: 20px;
    padding: 0;
    margin: 15px 0 15px 0;
    text-align: center;

}

.tab_container .contents{
    display: block;
    padding: 30px 30px 30px 30px;
    background: rgba(255, 255, 255, 0.81);
    color: #999;
    box-sizing: border-box;
}
.tab_container .form-group:first-child{
    margin-bottom: 10px;
}
.tab_container .form-group:nth-child(2){
    margin-bottom: 10px;
}
.tab_container .form-group:nth-child(3){
    margin-bottom: 5px;
    margin-left:22px;
}
.tab_container .form-group:nth-child(4){
    margin-bottom: 0px;
}
.tab_container .form-group .control-label{
    color: #292929;
    font-size: 13px;
    font-weight: normal;
}

.tab_container .form-group .form-control{
    color: #333;
    padding: 2px 2px 2px 2px;
    border-radius: 0;
    border-left: none;
    background: #fff;
    -webkit-box-shadow: 0;
    -moz-box-shadow: 0;
    box-shadow: 0;
    box-sizing: content-box;
}
.checkbox{

}
.tab_container .input-group-addon{
    background: #fff;
    border-right: none;
    border-radius: 0;
}

.tab_container .checkbox{
    color: #292929;
    font-size: 12px;
    font-weight: normal;
}



.btn-login{
    background: #409aff;
    border: none;
    display: block;
    width: 100%;
    padding: 4px 0;
    font-size: 15px;
}


.btn-forgot{
    padding: 13px 0;
}

/*#logInForm{
	display :none;
}*/







/**  Footer **/

footer {
    background: rgba(164, 16, 0, 0.23);
    color: white;
    font-size: .8em;
    padding: 16px 5px 9px 5px;
}

footer a {
    color: #E0E6AE;
}

footer a:hover {
    color: #EEC856 !important;
}

footer .phone {
    font-size: 1.4em;
    font-weight: 700;
    color: #E0E6AE;
}



.ui-growl {
    position: fixed;
    top: 55px;
    right: 20px;
    width: 301px;
}



.btn-forgot{
    padding: 13px 0;
}



@media only screen and (max-width: 992px) {
    .container {
        margin-top: 20%;

    }

    .logo {
        margin: 20px auto;

    }



}

@media only screen and (max-width: 930px) {

}

@media only screen and (max-width: 776px) {

}

@media only screen and (max-width: 768px) {



    .tab_container {
        width: 98%;

    }
}


@media only screen and (max-width: 468px) {



    .logo {
        width: 70%;
    }

    .logo img {
        width: 100%;
    }
}
.foot{
    display: in;
    width: 100%;
}
.foot1{
display: inline;
margin-left: 1%;

    /*display: flex;*/
     /*justify-content: flex-start;*/
    /*flex-wrap: wrap;*/

}
.foot1 a{
    text-decoration: none;
    color: #2b2b2b;
    font-size: 13px;
    font-family: "Yu Gothic UI Light";

}
.foot1 a:hover{
    text-decoration: none;
    color: #5c5c5c;

}
.foot2{
    float: right;
    width: 10%;
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*flex-wrap: wrap;*/
}


